  /* --------- MEETING SLOTS DASHBOARD STYLING START --------------*/
          /* <--------------------------------------------------------> */


          .container-wrap  {
            padding: 20px;
            max-width: 100%;
            height: 100%;
            
            
            
        }
        h3{
            text-align: center;
            margin-bottom: 10px;
            
        }

        .container {
            /* text-align: center; */
            margin-bottom: 20px;
            
        }

       

        .table-container {
           
            height: 100vh; /* Adjust the height based on other components */
            overflow: hidden; /* Avoid scrollbar */
            margin: 0 auto 0 auto;
            background-color: white;
            border-radius: 10px;
            
            
          
        }


        th, td {
            border: 1px solid #ddd;
            text-align: center;
            vertical-align: middle;
             height: 50px !important; /*Height of each time slot */
        }

        th {
            background-color: #f5f5f5;
        }
        th:first-child, td:first-child{
            width:15%;
        }
        th:nth-child(2), td:nth-child(2){
            width: 65%;
        }
        th:nth-child(3), td:nth-child(3){
            width: 15%;
        }

        .meeting-slot {
    
            padding: 2px;
            font-size: 17px;
            
        }
        .btn{
            
            justify-content: space-between;
            width: 60px;
        }

       /* Date Picker */

       .date-picker-container {
        position: relative;
        text-align: center;
        margin-bottom: 5px;
    }

    .date-picker-input {
        padding: 8px 36px 8px 10px;
        width: 27%; /* Wider input box */
        border: none; /* Remove the border */
        border-bottom: 2px solid #ccc;; /* Add underline */
        font-size: 16px;
        outline: none;
        transition: border-color 0.3s ease;
    }
    .date-picker-input:focus {
        border-bottom: 2px solid#5bc0de; /* Change to red (or any color) when focused */
    }

    .calendar-icon {
        position: relative;
        
        right: 33px;
        top: -25%;
        transform: translateY(25%);
        cursor: pointer;
        color: #777;
        font-size: 27px;

    }

    /* Customize the flatpickr calendar appearance */
    .flatpickr-calendar {
        width: 30%; /* Enlarge calendar width */
        border-radius: 8px;
        border: 1px solid #e2e2e2;
    }

    .flatpickr-day.selected,
    .flatpickr-day:hover {
        background:#5bc0de; /* Same as the red circle in your image */
        color: white;
    }
    .flatpickr-months {
        border-bottom: 2px solid #5bc0de; /* Red line on top */
    }



        /* MEDIA QUERIES */
    
        @media (max-width: 576px) { /* Small screens  */
            .btn {
              width: 45px; 
              font-size: 12px; 
              margin-bottom: 5px; 
            }
            
            .btn-info, .btn-danger {
              margin-top: 5px; 
            }
          
            /* Pagination Adjustments */
            #pagination {
              justify-content: center; 
            }
          
            #table1_paginate {
              text-align: center; 
            }
          }

        @media (min-width: 577px) and (max-width: 768px) { /* For tablets */
            .btn {
              width: 55px; /* Slightly larger buttons on tablet-sized screens */
            }
          
            .btn-info, .btn-danger {
              margin-bottom: 5px;
            }
          }

    @media (max-width:1036px){
       .btn{
        width: 50px;
       }
    }

    @media (max-width: 892px){
        .btn-info{
            width: 60px;
            margin-top: 0;
            margin-bottom: 4px;
        }
        .btn-danger{
            width: 60px;
            margin-top: 4px;
            margin-bottom: 0 !important;
        }
    }
    @media (max-width: 576px) {
        .date-picker-input {
          width: 70%;
        }
      }

      

      @media (max-width: 576px) { /* Small screens */
        .pagination li a {
          font-size: 12px; /* Make pagination font smaller for mobile */
          padding: 3px 7px;
        }
      }